<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="de">
<head>
<title th:text="|${Title}|">Serial-Series</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Allerta+Stencil%7CJosefin+Sans%7CReem+Kufi">
<link rel="stylesheet" href="/global.css">
<link rel="stylesheet" href="/admin.css">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta charset=UTF-8>
</head>


<body>

  <header th:insert="fragments/header.html :: header"></header>

  <div class="admin_body">
    <section>
      <h1>Episoden</h1>
      <section>
        <a th:href="@{'/episodeNew'}">
          <input class="button_medium" type="button" value="Neue Episode">
        </a>
        <a th:href="@{/}">
          <input class="button_medium" type="button" value="Zurück">
        </a>
      </section>
      <br>
      <table border="1">
        <tr>
          <th>Serien-Name</th>
          <th>Staffel-Nr</th>
          <th>Episoden-Nr</th>
          <th>Episoden-Titel</th>
          <th>Aktion</th>
        </tr>
        <tr th:each="episode : ${episodes}">
          <td th:text="|&nbsp;${episode.season.serie.name}&nbsp;|">SerienName</td>
          <td th:text="|&nbsp;${episode.season.seasonNr}&nbsp;|">StaffelNr</td>
          <td th:text="|&nbsp;${episode.episodeNr}&nbsp;|">FolgeNr</td>
          <td th:text="|&nbsp;${episode.name}&nbsp;|">FolgeTitel</td>
          <td>
            <a th:href="@{'/episodeEdit/' + ${episode.id}}">
              <input class="button_small" type="button" value="Bearbeiten">
            </a>
            <a th:href="@{'/episodeDelete/' + ${episode.id}}">
              <input class="button_small" type="button" value="Löschen">
            </a>
          </td>
        </tr>
      </table>
    </section>
  </div>
  <div th:insert="fragments/footer.html :: footer"></div>
</body>

</html>