<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="de">
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="de">
<head>
<title th:text="|${Title}|">Serial-Series</title>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<link rel="stylesheet"
	href="https://fonts.googleapis.com/css?family=Allerta+Stencil%7CJosefin+Sans%7CReem+Kufi">
<link rel="stylesheet" href="/global.css">
<link rel="stylesheet" href="/admin.css">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta charset=UTF-8>
</head>
<header th:insert="header.html :: header"></header>
<body>
	<div class="admin_body">
		<h1>Episoden</h1>
		<br>
		<form action="#" th:action="@{/episodeUpsert}" th:object="${episode}"
			method="post">
			<a th:text="| Datensatz-ID: ${episode.id}|">Datensatz</a>
			<br>
			<input th:field="*{id}" type="hidden">
			<label for="StaffelNr">Staffel-ID</label>
			<input th:field="*{season}" required type="text">
			<br>
			<br>
			<br>
			<br>
			<input th:field="*{id}" type="hidden">
			<label for="FolgeNr">Folge-Nummer</label>
			<input th:field="*{episode_Nr}" required type="text">
			<br>
			<br>
			<br>
			<br>
			<label for="FolgeName">Folge-Name</label>
			<input th:field="*{name}" required type="text">
			<br>
			<br>
			<br>
			<br>
			<input type="submit" value="Speichern">
			<input type="reset" value="Zurücksetzen" />
			<a href="/episodes">
				<button type="button" class="cancelbtn">Cancel</button>
			</a>
		</form>
	</div>
</body>
<div th:insert="footer.html :: footer"></div>
</html>
