<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="de">
<head>
<title th:text="|${Title}|">Serial-Series</title>
<link rel="stylesheet"
  href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<link rel="stylesheet"
  href="https://fonts.googleapis.com/css?family=Allerta+Stencil%7CJosefin+Sans%7CReem+Kufi&display=swap">
<link rel="stylesheet" href="/global.css">
<link rel="stylesheet" href="/admin.css">
<meta name="viewport"
  content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta charset=UTF-8>
</head>

<header th:insert="header.html :: header"></header>
<body>
<div class="admin_body">
  <section>
    <h1>Serien</h1>
    <table border="1">
      <tr>
        <th>id</th>
        <th>Name</th>
        <th>Hash Tags</th>
        <th>Bild-Speicherort</th>
        <th>Beschreibung</th>
        <th>Aktionen</th>
      </tr>
      <tr th:each="serie : ${Series}" th:object="${serie}">
        <td th:text="${serie.id}">Platzhalter</td>
        <td th:text="${serie.name}">Platzhalter</td>
        <td><textarea rows="4" cols="10" th:text="${serie.hashtag}">Platzhalter</textarea></td>
        <td th:text="${serie.picture_url}">Platzhalter</td>
        <td>
          <textarea rows="4" cols="50" th:text="${serie.description}">Platzhalter</textarea>
        </td>
        <td>
          <a th:href="@{'/serieEdit/' + ${serie.id}}">Bearbeiten</a>
          <a th:href="@{'/serieDelete/' + ${serie.id}}">Löschen</a>
        </td>
      </tr>
    </table>
  </section>
  <section>
    <br>
    <a th:href="@{'/serieNew'}">Neue Serie anlegen</a>
    <br>
    <a th:href="@{/series}">Zurück</a>
  </section>
  <p></p>
  </div>
</body>

<div th:insert="footer.html :: footer"></div>
</html>