<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="de">

<head>
<title th:text="|${Title}|">Serial-Series</title>

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Allerta+Stencil%7CJosefin+Sans%7CReem+Kufi">
<link rel="stylesheet" href="/global.css">
<link rel="stylesheet" href="/admin.css">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta charset=UTF-8>
</head>
<header th:insert="fragments/header.html :: header"></header>
<body>
<div class="admin_body">
  <section>
    <h1>Benutzer</h1>
    
   	<section>
      <a th:href="@{'/userNew'}"><input class= "button_medium" type="button" value="Neuer Benutzer"></a>
      <a th:href="@{/}"><input class= "button_medium" type="button" value="Zurück"></a>
    </section>
    <br>
    
    <table border="1">
      <tr>
        <th>Benutzername</th>
        <th>Passwort</th>
        <th>Aktion</th>
      </tr>
      <tr th:each="user : ${users}">
        <td th:text="${user.username}">Name</td>
        <td th:text="${user.password}">Passwort</td>

        <td>
        <a th:href="@{'/userEdit/' + ${user.id}}"><input class= "button_small" type="button" value="Bearbeiten"></a> 
        <a th:href="@{'/userDelete/' + ${user.id}}"><input class= "button_small" type="button" value="Löschen"></a></td>
      </tr>
    </table>
  </section>


  </div>
</body>
<div th:insert="fragments/footer.html :: footer"></div>
</html>