.article-card {
	margin: 10px;
	width:100%;
 	height:auto;
 	background-color: transparent;
 	border: none;
}

.card-img-top {
	border-radius: 0;
	border-style: none;
	padding: 40px;
}

.article-row>div {
	display: flex;
	align-items: stretch;
}

.card-text-top {
	border-radius: 0;
	border-style: none;
	width: 100%;
	padding: 40px;
	text-align:center;
	color: #e5007d;
	margin-top: auto;
	margin-bottom: auto;
	font-size: 36px;
}

.card-text-mail{
	width: 100%;
	padding-bottom: 20px;
	padding-top: 20px;
	text-align:center;
	color: #e5007d;
	margin-top: 20px;
	margin-bottom: 20px;
	font-size: 20px;
}
