li {
	display: flex;
	margin-left: 20px;
}


.faq_body {
	margin-left:30px;
  	margin-right:30px; 
}

summary {
	background-color: #f7c5f0;
	margin-top: 10px;
}

summary::-webkit-details-marker {
	display: none;
}

summary:before {
	content: "+"; /* Verwendung des "plus"-Symbols anstelle des Dreiecks */
	color: #e5007d;
	margin-right: 5px;
}