/*footer {
    font-size: 0.8em;
    width: 100%;
    background-image: url(../pics/panorama1.jpg);
    background-size: cover;
    background-position: 20%, 20%;
    position: absolute;
    bottom: 0; 
    right: 0;
    left: 0;
}

footer li {
   list-style-type: none;
   padding: 0.5em; 
}

footer b {
    color: #e5007d;
}*/

/*footer img {
    height: 70px;
}*/

footer ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    /*background-color: rgba(255,255,255,0.5);*/
    list-style: none;
    border-style: solid;
    border-width: thin;
    border-color: black;
}