/* Allgemein */
body {
	background-color: #fbe0f3;
	margin: 0;
	font-family: 'Reem Kufi', sans-serif;
	margin-top: 70px; /* Add a top margin to avoid content overlay */
}

a {
	color: #e5007d;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

h1 {
	text-align: left;
	font-size: 60px;
	font-weight: 100;
	margin: 0px 0 50px 0;
}

h2 {
	text-align: left;
	font-size: 50px;
	font-weight: 100;
	margin: 0px 0 50px 0;
}

h3 {
	text-align: left;
	font-size: 40px;
	font-weight: 100;
	margin: 0px 0 50px 0;
}

p {
	color: rgba(0, 0, 0, 0.5);
	margin: 20px 0;
	line-height: 1.6;
}

/* Header */

nav {
	background-image: url(/pictures/StripesHell.jpeg);
    background-size: cover;
    background-position: 20% 20%;     
	
	font-size: 1em;
	
}

.navbar-toggler-icon {
	float:left;
}


.navbar {
  overflow: hidden;
  background-color: #333;
  position: fixed;
  top: 0;
  lest:0;
  width: 100%;
  z-index:1000000;

}

.navbar-light .navbar-nav .nav-link {
    color: #e5007d;
}



/* Footer */


footer {
	background-image: url(/pictures/Stripes.jpeg);
    background-size: cover;
    background-position: 20% 20%;

    font-size: 1em;
      
}

.copyright {
    color: #000000;
    font-size: 1em;
}

footer div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: rgba(255,255,255,0.5);
    padding: 10px;
}


