h1 {
	color: #e5007d;
}

summary {
	background-color: #f7c5f0;
	margin-top: 10px;
}

summary::-webkit-details-marker {
	display: none;
}

summary:before {
	content: "+"; /* Verwendung des "plus"-Symbols anstelle des Dreiecks */
	color: #e5007d;
	margin-right: 5px;
}

form {
	margin: 20px;
}

.container-fluid {
	background-color: white;
	padding: 20px;
	border-style: solid;
	border-width: thin;
	border-color: black;
}

input[type="checkbox"], input[type="radio"] {
	display: inline;
	width: auto;
	margin-right: 7px;
}

.flex-item-1 {
	width: 400px;
	list-style: none;
}

.flex-item-2 {
	width: 80px;
	margin-left: 30px;
	margin-right: 30px;
}

.flex-item-3 {
	width: 80px;
	margin-left: 30px;
	margin-right: 30px;
}

.flex-item-4 {
	width: 20px;
	list-style: none;
}

/* Anordnung der Episoden Abhängig von der Größe */
@media only screen and (min-width: 1261px ) {
	/* Groß */
	.flex-container {
		display: flex;
		flex-direction: row;
		justify-content: flex-start;
		margin: 20px 40px 20px 40px;
	}
}

@media only screen and (max-width: 1260px ) {
	/* Mittel */
	.flex-container {
		display: flex;
		flex-direction: column;
	}
}

@media only screen and (max-width: 600px ) {
	/* Klein */
	.flex-container {
		/*display: flex;*/
		flex-direction: column;
	}
}

.btn-speichern {
	background-color: #f7c5f0;
	color: black;
	padding-left: 15px;
	padding-right: 15px;
}


/* Ranking */
.rating {
      float:left;
    }

    /* :not(:checked) is a filter, so that browsers that don’t support :checked don’t 
      follow these rules. Every browser that supports :checked also supports :not(), so
      it doesn’t make the test unnecessarily selective */
    .rating:not(:checked) > input {
        position:absolute;
        top:-9999px;
        clip:rect(0,0,0,0);
    }

    .rating:not(:checked) > label {
        float:right;
        width:1em;
        /* padding:0 .1em; */
        overflow:hidden;
        white-space:nowrap;
        cursor:pointer;
        font-size:300%;
        /* line-height:1.2; */
        color:#ddd;
    }

    .rating:not(:checked) > label:before {
        content: '★ ';
    }

    .rating > input:checked ~ label {
        color: dodgerblue;
        
    }

    .rating:not(:checked) > label:hover,
    .rating:not(:checked) > label:hover ~ label {
        color: dodgerblue;
        
    }

    .rating > input:checked + label:hover,
    .rating > input:checked + label:hover ~ label,
    .rating > input:checked ~ label:hover,
    .rating > input:checked ~ label:hover ~ label,
    .rating > label:hover ~ input:checked ~ label {
        color: dodgerblue;
        
    }

    .rating > label:active {
        position:relative;
        top:2px;
        left:2px;
    }




