.article-card {
	margin: 10px;
	/* offset-x | offset-y | blur-radius | spread-radius | color */
	/* box-shadow: 2px 2px 5px 5px rgba(0, 0, 0, 0.5);*/
	border-style: solid;
	border-width: thin;
	border-color: black;
	/*height: 100%;*/
}

.card {
	border-radius: 0;
}

.card-img-top {
	border-radius: 0;
	border-style: none;
	padding: 20px;
}

.card-link {
	float: right;
}

.card-link-left {
	float: left;
}


a:hover {
	text-decoration: none;
}

.article-row>div {
	display: flex;
	align-items: stretch;
}

.card-footer {
	position: absolute;
	bottom: 0;
	/*padding 5px;*/
	width: 90%;
}