<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="de">
<head>
<title>Serial-Series</title>
<meta charset=UTF-8>
</head>

<body>
  <footer th:fragment="footer">

    <div class="f_cols">
      <i class="copyright nav-link"><em>&copy;</em> Metje, Ralf, Frank 2020 </i> 
      <a class="nav-link" href="https://www.wildcodeschool.com/" target="_blank">WildCodeSchool</a> 
      <a class="nav-link" href="/faq">FAQ</a> 
      <a class="nav-link" href="#top">Seitenanfang</a>
    </div>

  </footer>
</body>
</html>



