<!DOCTYPE html>


<header th:fragment="header">

  <link rel="stylesheet" href="/header.css">
  <link rel="stylesheet" href="/login.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  <nav class="navbar navbar-expand-md navbar-light bg-light">

    <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarCollapse">
      <div class="navbar-nav">
        <a class="navbar-brand" href="" th:text="|${Title}|">Serial-Series</a>
        <!-- Start -->
        <a th:if="${Type == 'Start'}" class="nav_color_pink nav-item nav-link  active" href="/startSerialSeries">Home
        </a>
        <th:block sec:authorize="!hasRole('ROLE_ADMIN')">
          <a th:if="${Type == 'Start'}" sec:authorize="isAuthenticated()" class="nav-item nav-link "
            th:href="${'/listMySeries'}">Meine Serien</a>
          <a th:if="${Type == 'Start'}" sec:authorize="!isAuthenticated()" class="nav-item nav-link "
            th:href="${'/listAllSeries'}">Alle Serien</a>
        </th:block>

        <th:block sec:authorize="!hasRole('ROLE_ADMIN')">
          <!-- Alle Serien -->
          <a th:if="${Type == 'All'}" class="nav_color_pink nav-item nav-link" href="/startSerialSeries">Home </a>
          <a th:if="${Type == 'All'}" class="nav-item nav-link active" href="">Alle Serien</a>

          <!-- Meine Serien -->
          <a th:if="${Type == 'My'}" class="nav-item nav-link" th:href="${'/listSeries/New'}">Hinzufügen </a>
          <a th:if="${Type == 'My'}" class="nav-item nav-link active" href="">Meine Serien</a>

          <!-- Neu Serien -->
          <a th:if="${Type == 'New'}" class="nav-item nav-link active" href="">Hinzufügen</a>
          <a th:if="${Type == 'New'}" class="nav-item nav-link" th:href="${'/listMySeries'}">Meine Serien </a>

          <!-- Details -->
          <a th:if="${Type == 'Details'}" class="nav-item nav-link active" href="">Details</a>
          <a th:if="${Type == 'Details'}" class="nav-item nav-link" th:href="${'/listMySeries'}">Meine Serien </a>
        </th:block>


        <!-- faq -->
        <a th:if="${Type == 'Faq'}" class="nav_color_pink nav-item nav-link" href="/startSerialSeries">Home </a>
        <th:block sec:authorize="!hasRole('ROLE_ADMIN')">
          <a th:if="${Type == 'Faq'}" sec:authorize="isAuthenticated()" class="nav-item nav-link "
            th:href="${'/listMySeries'}">Meine Serien</a>
          <a th:if="${Type == 'Faq'}" sec:authorize="!isAuthenticated()" class="nav-item nav-link "
            th:href="${'/listAllSeries'}">Alle Serien</a>
        </th:block>
        <!-- Login-->
        <a th:if="${Type == 'Login'}" class="nav_color_pink nav-item nav-link" href="/startSerialSeries">Home </a>
        <a th:if="${Type == 'Login'}" class="nav_color_pink nav-item nav-link" href="/listAllSeries">Alle Serien </a>

        <!-- Admin -->
        <!-- 				<a sec:authorize="hasRole('ROLE_ADMIN')" class="nav-item nav-link " href="/underConstruction.html" >Admin</a> -->

        <!-- Dropdown -->
        <li sec:authorize="hasRole('ROLE_ADMIN')" class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown"> Admin </a>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="/users">User</a>
            <a class="dropdown-item" href="/faqs">FAQ</a>
            <a class="dropdown-item" href="/series">Serien</a>
            <a class="dropdown-item" href="/seasons">Staffeln</a>
            <a class="dropdown-item" href="/episodes">Episoden</a>

          </div>
        </li>



        <a class="nav_color_pink nav-item nav-link" href="/underConstruction.html">Über uns</a>
      </div>
      <div class="navbar-nav ml-auto">

        <th:block th:if="${Type == 'My' OR Type == 'All'}">
          <form th:action="@{/listSearch}" method="POST">
            <div class="input-group">
              <input class="form-control border-secondary py-2" name="Search" th:value="${Search}" type="text">
              <div class="input-group-append">
                <button class="btn btn-outline-secondary" type="submit">
                  <i class="fa fa-search"></i>
                </button>

              </div>
            </div>
          </form>

        </th:block>

        <th:block th:if="${Type == 'New'}">
          <form th:action="@{/listSearchNew}" method="POST">
            <div class="input-group">
              <input class="form-control border-secondary py-2" name="Search" th:value="${Search}" type="text">
              <div class="input-group-append">
                <button class="btn btn-outline-secondary" type="submit">
                  <i class="fa fa-search"></i>
                </button>

              </div>
            </div>
          </form>

        </th:block>


        <!-- Login -->
        <a th:href="@{/login}">
          <button sec:authorize="!isAuthenticated()" type="button">Anmelden</button>
        </a>

        <!-- Logout -->
        <form class="header-form" th:action="@{/logout}" method="POST" title="Logout">
          <button sec:authorize="isAuthenticated()" type="submit">Abmelden</button>
        </form>


      </div>
    </div>
  </nav>

  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
    integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
    integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

</header>

