<!DOCTYPE html>


<header th:fragment="header">


<link rel="stylesheet" href="/header.css">
<link rel="stylesheet" href="/login.css">

<nav class="navbar navbar-expand-md navbar-light bg-light">
    
    <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarCollapse">
        <div class="navbar-nav">
        <a class="navbar-brand" href="" th:text="|${Title}|">Serial-Series</a>
            <!-- Alle Serien -->
				<a th:if="${Type == 'All'}" class="nav_color_pink nav-item nav-link" href="/startSerialSeries">Home </a> 
				<a th:if="${Type == 'All'}"class="nav-item nav-link active" href="" >Alle Serien</a>
				
				<!-- Meine Serien -->
				<a th:if="${Type == 'My'}" class="nav-item nav-link" th:href="${'/listSeries/New/' + UserId}">Hinzufügen </a> 
				<a th:if="${Type == 'My'}" class="nav-item nav-link active" href="">Meine Serien</a> 
				
				<!-- Neu Serien -->
				<a th:if="${Type == 'New'}" class="nav-item nav-link active" href="">Hinzufügen</a>
				<a th:if="${Type == 'New'}" class="nav-item nav-link" th:href="${'/listSeries/' + UserId}">Meine Serien </a>  
				
				<!-- Details -->
				<a th:if="${Type == 'Details'}" class="nav-item nav-link active" href="">Details</a> 
				<a th:if="${Type == 'Details'}" class="nav-item nav-link" th:href="${'/listSeries/' + UserId}">Meine Serien </a> 	
				
				<!-- faq -->
				<a th:if="${Type == 'Faq'}" class="nav_color_pink nav-item nav-link" href="/startSerialSeries">Home </a> 
				<a th:if="${Type == 'Faq'}" class="nav_color_pink nav-item nav-link" href="/listSeries">Alle Serien </a> 
					
			<a class="nav_color_pink nav-item nav-link" href="/underConstruction.html">Über uns</a> 
        </div>
        <div class="navbar-nav ml-auto">

			<!-- Login -->
           	<a th:href="@{/login}"><button sec:authorize="!isAuthenticated()" type="button">Anmelden</button></a>
        	
        	<!-- Logout -->
      		<form th:action="@{/logout}" method="POST" title="Logout">
					<button sec:authorize="isAuthenticated()" type="submit" > <span sec:authentication="name"></span> abmelden </button>
			</form>
	            <div th:insert="login.html :: login"></div>
		      
        </div>
    </div>
</nav>

<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
		integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
		crossorigin="anonymous"></script>
	<script
		src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
		integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
		crossorigin="anonymous"></script>
	<script
		src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
		integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
		crossorigin="anonymous"></script>

</header>

