<!DOCTYPE html>
<html lang="de" xmlns:th="https://www.thymeleaf.org">
<head>
<link rel="stylesheet" href="/kontakt.css">
</head>
<div class="container">
	<p></p>
	<div class="row">
		<div class="col-2">&nbsp;</div>
		<div class="col-7">
			<section class="Kontakt">
				<h3 class="pb-3">Kontakt Formular</h3>
				<form action="https://formspree.io/xrgglgqo" method="POST"
					class="text-center">
					<input name="name" type="text" class="form-control mb-4"
						placeholder="Name"> <input name="_replyto" type="email"
						class="form-control mb-4" placeholder="E-mail">
					<div class="form-group">
						<textarea name="Nachricht" class="form-control rounded-0" rows="3"
							placeholder="Nachricht"></textarea>
					</div>
					<button class="btn btn-info btn-block" type="submit" value="Senden">Senden</button>
				</form>
			</section>
		</div>

	</div>
</div>