<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="de">

<head>
<title th:text="|${Title}|">Serial-Series</title>

<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<link rel="stylesheet"
	href="https://fonts.googleapis.com/css?family=Allerta+Stencil%7CJosefin+Sans%7CReem+Kufi&display=swap">
<link rel="stylesheet" href="/global.css">
<link rel="stylesheet" href="/listSeries.css">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta charset=UTF-8>
</head>



<header th:insert="header.html :: header"></header>

<!-- Anzeige Hinzufügbare Serien -->
<div th:if="${Type == 'My'}">
	<a class="hinzufuegen_button" th:href="${'/listSeries/New/' + UserId}"><button>Hinzufügen</button></a>
</div>

<body>
		<section class="container-fluid">
			<div class="row no-gutters article-row">

				<th:block th:each="serie: ${Series}">

					<div class="col-lg-4 col-sm-6 col-12">

						<div class="card article-card">
							<img class="card-img-top" th:src="${serie.picture_url}" alt="...">
							<div class="card-body">
								<h5 class="card-title" th:text="${serie.name}">Titel</h5>
								<p class="card-text" th:text="${serie.description}">Text</p>
								<br>
								<div class="card-footer">

									<!-- Anzeige Alle Serien -->
									<div th:if="${Type == 'All'}">
										<!-- 
										<a th:href="${'/listSerieSeasonsEpisodes/' + serie.id}" class="card-link">Staffelübersicht</a>
										 -->
										<a href="/underConstruction.html" class="card-link">Staffelübersicht</a> 
									</div>

									<!-- Anzeige Hinzufügbare Serien -->
									<div th:if="${Type == 'New'}">
										<a th:href="@{/listSeries/neu(idSerie=${serie.id}, idUser=${UserId})}" class="card-link-left">Hinzufügen</a>
									</div>

									<!-- Anzeige Meine Ser -->
									<div th:if="${Type == 'My'}">
										<a th:href="${'/listSerieSeasonsEpisodes/' + serie.id}" class="card-link">Staffelübersicht</a>
										<a th:href="@{/listSeries/loeschen(idSerie=${serie.id}, idUser=${UserId})}">Löschen</a>
									</div>


								</div>

							</div>
						</div>
					</div>
				</th:block>

			</div>
		</section>

</body>

<div th:insert="footer.html :: footer"> </div>

</html>