<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<link rel="stylesheet"
	href="https://fonts.googleapis.com/css?family=Allerta+Stencil%7CJosefin+Sans%7CReem+Kufi&display=swap">
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<!-- Eingefügt für Rating -->
<link
	href="http://netdna.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.css"
	rel="stylesheet">
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js"></script>
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-star-rating/4.0.2/css/star-rating.min.css" />
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-star-rating/4.0.2/js/star-rating.min.js"></script>

<!--  Eigene .CSS Dateien -->
<link rel="stylesheet" href="/global.css">
<link rel="stylesheet" href="/listSerieWithSeasonsAndEpisodes.css">


<title>Staffeln</title>
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
</head>

<body>

	<form th:action="@{/listSerieSeasonsEpisodes}" th:object="${Serie}"
		method="POST">

		<!--  SERIENKOPF ANZEIGEN -->
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-12">
					<!-- <p th:text="${'Id = ' + Serie.id}" th:name = "id" th:value=${Serie.id}>Id</p>  -->
					<img class="img-fluid" th:src="${Serie.picture_url}" alt="...">
					<h5 th:text="|${Serie.name}|">Staffeltitel</h5>
					<p th:text="|${Serie.description}|">Text</p>
				</div>
			</div>

			<!--  versteckte Felder merken -->
			<input type="hidden" th:field="*{id}" /> 
			<input type="hidden" th:field="*{name}" /> 
			<input type="hidden" th:field="*{description}" /> 
			<input type="hidden" th:field="*{picture_url}" />
		</div>

		<!-- Alternative Anzeige, falls keine Staffeln vorhanden -->
		<details th:if="${Serie.listOfSeasons.empty}">
			<p>Nix da</p>
		</details>


		<!--  STAFFELN ANZEIGEN -->
		<!-- Itteration Staffeln -->
		<details open th:each="season, stat: ${Serie.listOfSeasons}">
			<summary th:text="${season.name}">Name</summary>

			<input type="hidden" th:field="*{listOfSeasons[__${stat.index}__].id}" />
			<input type="hidden" th:field="*{listOfSeasons[__${stat.index}__].name}" />

			<!-- Itteration Folgen -->
			<th:block th:each="episode, stat2: ${season.listOfEpisodes}">

				<div class="flex-container">
					<li class="flex-item-1" th:text="${episode.name}"></li> <input
						type="hidden"
						th:field="*{listOfSeasons[__${stat.index}__].listOfEpisodes[__${stat2.index}__].id}" />
					<input type="hidden"
						th:field="*{listOfSeasons[__${stat.index}__].listOfEpisodes[__${stat2.index}__].name}" />
					<!-- GESEHEN -->
					<label> <input class="flex-item-2" type="checkbox"
						name="seen"
						th:value="*{listOfSeasons[__${stat.index}__].listOfEpisodes[__${stat2.index}__].id}"
						th:checked="*{listOfSeasons[__${stat.index}__].listOfEpisodes[__${stat2.index}__].watched}" />gesehen
					</label>


					<!-- Möchte ich gerne sehen -->
					<label> <input class="flex-item-3" type="checkbox"
						name="wanted"
						th:value="*{listOfSeasons[__${stat.index}__].listOfEpisodes[__${stat2.index}__].id}"
						th:checked="*{listOfSeasons[__${stat.index}__].listOfEpisodes[__${stat2.index}__].wanted}" />möchte
						ich sehen
					</label>


					<!-- Bewertungssterne ausgeben -->
				
					<input type="hidden"
						th:field="*{listOfSeasons[__${stat.index}__].listOfEpisodes[__${stat2.index}__].ranking}" />
					

					<th:block th:switch="${episode.ranking}"> 
					
  					<div th:case="1">
  					<input id="input-1" name="input-1" class="rating rating-loading"
						data-min="0" data-max="5" data-step="1" data-show-caption="false"
						data-show-clear="false" data-size="xs"
						value="1"/> </div>
  					<div th:case="2">
  					<input id="input-1" name="input-1" class="rating rating-loading"
						data-min="0" data-max="5" data-step="1" data-show-caption="false"
						data-show-clear="false" data-size="xs"
						value="2"/> </div>
					<div th:case="3">
  					<input id="input-1" name="input-1" class="rating rating-loading"
						data-min="0" data-max="5" data-step="1" data-show-caption="false"
						data-show-clear="false" data-size="xs"
						value="3"/> </div>
  					<div th:case="4">
  					<input id="input-1" name="input-1" class="rating rating-loading"
						data-min="0" data-max="5" data-step="1" data-show-caption="false"
						data-show-clear="false" data-size="xs"
						value="4"/> </div>
  					<div th:case="5">
  					<input id="input-1" name="input-1" class="rating rating-loading"
						data-min="0" data-max="5" data-step="1" data-show-caption="false"
						data-show-clear="false" data-size="xs"
						value="5"/> </div>
					
					<div th:case="*">
  					<input id="input-1" name="input-1" class="rating rating-loading"
						data-min="0" data-max="5" data-step="1" data-show-caption="false"
						data-show-clear="false" data-size="xs"
						value="0"/> </div>
					</th:block>
					 
				<!-- 	 
					<script>
						$(document).ready(function(){
    						$('input-1').rating();
						});
						
						$('#input-id').on('change', function(event) {
						    console.log("change");
						});
					</script>
				 -->	

				</div>
			</th:block>
		</details>

		<br> <input class="btn-speichern" type="submit" value="Speichern" />
	</form>


</body>
</html>