<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>

<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<link rel="stylesheet"
	href="https://fonts.googleapis.com/css?family=Allerta+Stencil%7CJosefin+Sans%7CReem+Kufi&display=swap">
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<!--  Eigene .CSS Dateien -->
<link rel="stylesheet" href="/global.css">
<link rel="stylesheet" href="/listSerieWithSeasonsAndEpisodes.css">




<title>Staffeln</title>
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
</head>

<header th:insert="header.html :: header"></header>


<body>

	<form th:action="@{/listSerieSeasonsEpisodes}" th:object="${Serie}" method="POST">

		<!--  SERIENKOPF ANZEIGEN -->
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-4">
					<img class="img-fluid" th:src="${Serie.picture_url}" alt="...">
					<h5 th:text="|${Serie.name}|">Serientitel</h5>
					</div>
				<div class="col-md-8">
					<p th:text="|${Serie.description}|">Text</p>
				</div>
			</div>

			<!--  versteckte Felder merken -->
			<input type="hidden" name="UserId" th:value = ${UserId} />
			<input type="hidden" name="SerieId" th:value = ${Serie.id} />
		</div>

		<!-- Alternative Anzeige, falls keine Staffeln vorhanden -->
		<div th:if="${Serie.seasons.empty}">
			<p>Zu dieser Serie sind leider noch keine Staffeln und Episoden hinterlegt.</p>
		</div>


		<!--  STAFFELN ANZEIGEN -->
		<!-- Itteration Staffeln -->
		<!-- Auskommentiert: Akkordeon geöffnet starten
		<details open th:each="season, stat: ${Serie.seasons}">
		 -->
		<details th:each="season, stat: ${Serie.seasons}">
			<summary th:text="|Staffel ${season.season_Nr}|">Staffelname </summary>

			<input type="hidden" th:field="*{seasons[__${stat.index}__].id}" />
				
			<!-- Itteration Folgen -->
			<th:block th:each="episode, stat2: ${season.episodes}">

				<div class="flex-container">
					<li class="flex-item-1" th:text="|${episode.episode_Nr}:   ${episode.name}|"></li>
										
					<!-- GESEHEN -->
					<label> <input class="flex-item-2" type="checkbox"
						name="seen"
						th:value="*{seasons[__${stat.index}__].episodes[__${stat2.index}__].id}"
						th:checked="*{seasons[__${stat.index}__].episodes[__${stat2.index}__].watched}" />gesehen
					</label>
					
					<!-- Möchte ich gerne sehen -->
					<label> <input class="flex-item-3" type="checkbox"
						name="wanted"
						th:value="*{seasons[__${stat.index}__].episodes[__${stat2.index}__].id}"
						th:checked="*{seasons[__${stat.index}__].episodes[__${stat2.index}__].wanna_c}" />möchte
						ich sehen
					</label>
									
					
				</div>
			</th:block>
		</details>

		<br> <input class="btn-speichern" type="submit" value="Speichern" />
	</form>


</body>

<div th:insert="footer.html :: footer"> </div>

</html>